.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contenedorTodo{
  width: 90%;
  margin: auto;
}
.contenedor{
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content:space-around;
  align-items: center;
  padding: 20px;
  
}
.datos{
  width: 100%;
  background-color: bisque;
  padding: 20px;
}

.registro {
  width: 100%;
  display: flex;
  justify-content:space-around;

}

.campoEvento {
  width: 40%;
  text-align: left;
}

.campo{
  width: 20%;
  text-align: left;
  padding: 5px;
}

.selector{
  width: 300px;
}

.boton{
  padding: 10px;
}

.resaltado {
  font-weight: 500;
  margin: 10px;
  
}